@mixin positionCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bgCover($img) {
    background-image: url($img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


